
<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2> Welcolme to MongoDB Site!</h2>		 
		<a href="/read" class="btn btn-lg btn-primary">Read some datas</a>
		<a href="/update" class="btn btn-lg btn-primary">Update some datas</a> 
		<a href="/delete" class="btn btn-lg btn-primary">Delete some datas</a> 		
	</div>	
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>



